{
  "*.{js,jsx,ts,tsx}": "eslint --cache --fix",
  "*.{js,jsx,json,ts,tsx,md,mdx,yml}": "prettier --write",
  "*.{ts,tsx,js,jsx}": "stylelint --syntax=css-in-js",
  "*.test.{ts,tsx,js,jsx}": "yarn test"
}
